<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 bg-white rounded-2xl shadow-lg">
    <div *ngIf="step === 'role'" class="text-center">
      <h2 class="text-2xl font-bold mb-6 text-gray-800">Selecione seu perfil</h2>
      <button
        type="button"
        class="w-full py-3 px-4 bg-blue-600 text-white rounded-xl hover:bg-blue-700 mb-4"
        (click)="selectRole(ROLE.MENTOR)"
      >
        Sou Mentor
      </button>
      <button
        type="button"
        class="w-full py-3 px-4 bg-green-600 text-white rounded-xl hover:bg-green-700"
        (click)="selectRole(ROLE.MENTORED)"
      >
        Sou Mentorado
      </button>
      <p-button
        type="button"
        label="Voltar"
        severity="secondary"
        styleClass="w-full mt-6"
        (click)="returnLogin()"
      ></p-button>
    </div>

    <div *ngIf="step === 'email'">
      <h2 class="text-2xl font-bold mb-6 text-gray-800">Digite seu email</h2>
      <form [formGroup]="form" (ngSubmit)="handleSendValidateEmail()">
        <p-floatlabel>
          <input pInputText id="email" formControlName="email" autocomplete="off" class="w-full" />
          <label for="email">Email</label>
        </p-floatlabel>

        <div
          *ngIf="email?.touched && email?.errors?.['required']"
          class="text-red-500 text-sm mt-1"
        >
          Email é obrigatório
        </div>
        <div *ngIf="email?.touched && email?.errors?.['email']" class="text-red-500 text-sm mt-1">
          Email não é válido
        </div>

        <p-button
          type="submit"
          label="Enviar"
          severity="primary"
          styleClass="w-full mt-6"
          [disabled]="!form.valid"
        ></p-button>
      </form>
      <p-button
        type="button"
        label="Voltar"
        severity="danger"
        styleClass="w-full mt-6"
        (click)="handleBack()"
      ></p-button>
    </div>

    <div *ngIf="step === 'success'" class="text-center space-y-4">
      <h2 class="text-2xl font-bold text-green-600">Email enviado com sucesso!</h2>
      <p class="text-gray-700">
        Um email foi enviado à sua caixa de mensagens.<br />
        Verifique sua caixa de entrada e também a pasta <span class="font-semibold">Spam</span> ou
        <span class="font-semibold">Lixo eletrônico</span>.
      </p>

      <p-button
        type="button"
        label="Voltar ao login"
        severity="primary"
        styleClass="w-full mt-6"
        (click)="returnLogin()"
      ></p-button>
    </div>
  </div>
</div>
