<div class="flex items-center justify-center min-h-screen bg-gray-100 py-2 px-1">
  <div class="w-full max-w-2xl p-8 bg-white rounded-2xl shadow-lg">
    <form
      *ngIf="step === 1"
      [formGroup]="credentialsForm"
      (ngSubmit)="nextStep()"
      class="space-y-6 flex flex-col"
    >
      <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Crie sua conta</h2>

      <div>
        <p-floatlabel>
          <input pInputText formControlName="email" type="email" class="w-full" [readonly]="true" />
          <label>Email</label>
        </p-floatlabel>
      </div>

      <div class="relative w-full">
        <p-floatlabel class="w-full">
          <input
            pInputText
            type="password"
            formControlName="password"
            autocomplete="off"
            class="w-full pr-10"
          />
          <label>Senha</label>
        </p-floatlabel>
        <div
          *ngIf="passwordCtrl?.touched && passwordCtrl?.errors?.['required']"
          class="text-red-500 text-sm"
        >
          Campo obrigatório
        </div>
        <div
          *ngIf="passwordCtrl?.touched && passwordCtrl?.errors?.['minLength']"
          class="text-red-500 text-sm"
        >
          senha deve ter no minimo 8 caracteres.
        </div>
        <div
          *ngIf="passwordCtrl?.touched && passwordCtrl?.errors?.['pattern']"
          class="text-red-500 text-sm"
        >
          A senha deve conter letra, número e caractere especial
        </div>
      </div>

      <div class="relative w-full">
        <p-floatlabel class="w-full">
          <input
            pInputText
            type="password"
            formControlName="confirmPassword"
            autocomplete="off"
            class="w-full pr-10"
          />
          <label>Confirmar Senha</label>
        </p-floatlabel>

        <div
          *ngIf="credentialsForm.hasError('passwordMismatch') && emailCtrl?.touched"
          class="text-red-500 text-sm"
        >
          As senhas não coincidem
        </div>
      </div>

      <p-button
        type="submit"
        label="Próximo"
        severity="primary"
        styleClass="w-full mt-4"
      ></p-button>
    </form>

    <div *ngIf="step === 2" class="space-y-6 flex flex-col">
      <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Selecione seu perfil</h2>

      <div class="flex flex-col sm:flex-row gap-4 w-full">
        <button
          pButton
          type="button"
          label="Sou Mentor"
          class="w-full sm:w-1/2 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded transition duration-200"
          (click)="selectUserType(ROLE.MENTOR)"
        ></button>

        <button
          pButton
          type="button"
          label="Sou Mentorado"
          class="w-full sm:w-1/2 bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded transition duration-200"
          (click)="selectUserType(ROLE.MENTORED)"
        ></button>
      </div>
      <button pButton type="button" label="Voltar" (click)="returnStep()"></button>
    </div>
  </div>
</div>
