<header
  [ngStyle]="{
    'background-color': role === 'MENTOR' ? '#DB7539' : '#4B88A2',
  }"
  class="text-white shadow-md"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex items-center space-x-2">
        <img
          [src]="role === 'MENTOR' ? 'logoMentor.png' : 'logoMentored.png'"
          alt="Logo Orienta Mais"
          class="h-10 w-auto object-contain cursor-pointer"
          (click)="goHome()"
        />
      </div>

      <!-- Menu -->
      <div class="flex space-x-6 items-center">
        <ng-container *ngIf="role === 'MENTOR'">
          <a
            routerLink="/mentor/lesson"
            routerLinkActive="text-gray-600"
            class="hover:text-gray-600 transition"
          >
            Reunião
          </a>
          <a
            routerLink="/mentor/profile"
            routerLinkActive="text-gray-600"
            class="hover:text-gray-600 transition"
          >
            Perfil
          </a>
        </ng-container>

        <ng-container *ngIf="role === 'MENTORED'">
          <a
            routerLink="/mentored/lesson"
            routerLinkActive="text-orange-300"
            class="hover:text-orange-300 transition"
          >
            Reunião
          </a>
          <a
            routerLink="/mentored/profile"
            routerLinkActive="text-orange-300"
            class="hover:text-orange-300 transition"
          >
            Perfil
          </a>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <a
            routerLink="/admin/dashboard"
            routerLinkActive="text-gray-600"
            class="hover:text-gray-600 transition"
          >
            DashBoard
          </a>
        </ng-container>
      </div>

      <div class="flex items-center space-x-4">
        <button
          class="px-3 py-1 bg-red-600 hover:bg-red-700 rounded-md text-white text-sm cursor-pointer"
          (click)="logout()"
        >
          Sair
        </button>
      </div>
    </div>
  </div>
</header>
