<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-8 bg-white rounded-2xl shadow-lg">
        <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Bem-vindo</h2>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <p-floatlabel>
              <input pInputText id="email" formControlName="email" autocomplete="off" class="w-full" />
              <label for="email">Email</label>
            </p-floatlabel>
          
            <div *ngIf="email?.touched && email?.errors?.['required']" class="text-red-500 text-sm mt-1">
              Email é obrigatório
            </div>
            <div *ngIf="email?.touched && email?.errors?.['invalidEmail']" class="text-red-500 text-sm mt-1">
              Email não é válido
            </div>
          
            <p-floatlabel class="mt-6">
              <input pInputText id="password" formControlName="password" type="password" autocomplete="off" class="w-full" />
              <label for="password">Senha</label>
            </p-floatlabel>
          
            <div *ngIf="password?.touched && password?.errors?.['required']" class="text-red-500 text-sm mt-1">
              Senha é obrigatória
            </div>
          
            <button pButton type="submit" label="Entrar" class="w-full mt-8 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 rounded-lg shadow-md transition-all"></button>
          </form>

        <div class="mt-4 text-center">
            <a href="#" class="text-blue-600 hover:underline">Esqueceu a senha?</a>
        </div>
    </div>
</div>